main {
    width:80%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.input {
    margin-bottom: 1.5rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
}
.input label {
    margin-right: 0.5rem;
}

.active {
    display: flex !important; 
}
.width,
.height {
    margin-bottom: 1.5rem;
}
span#msg {
    display: block;
    color: red;
    margin-bottom: 1rem;
}