
.wrapper {
    display: flex;
    width:80%;
    margin: auto;
    flex-wrap: wrap;
}

.box
{
    border: 1px solid black;
    width: 20%;
    margin-left: 2rem;
    margin-bottom: 1rem;
    min-width: 105px;
}
.box form {
    margin-top: 0.3rem;
}
.box .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box span {
    margin-bottom: 1rem;
}
