*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 1.3rem;
}
